h1{
text-align: center;
}
body{
background-color: #ffdead;
font-family: handwriting;
font-size: 20px;
}
nav{
margin-top: 110px;
text-align: center;

}
nav a {
margin: 50px;
text-align: center;
text-decoration: none;
color: rgb(129, 27, 27);
background-color: bisque;
padding: 10px;
border-radius: 20px;


}
h2 , p{
margin-left: 30px;

}
main img{
width: 300px;
}
header{
background-image:url(https://spadok.org.ua/images/istoriya-muzyky-ukrainy.jpg) ;
background-size: cover;
background-position: center;
height: 200px;
}
h3{
    border-left: 6px solid rgb(129, 27, 27);
    border-right: 6px solid rgb(129, 27, 27);
    padding: 10px;
    background-color: rgb(180, 134, 78);
    margin-left: 10px;
}
.img2{
    border-top: 3px solid black ;
     border-bottom: 3px solid black ;
}
.img3{
    border-top: 3px solid black ;
     border-bottom: 3px solid black ;
}
footer{
    background-color: rgb(233, 181, 117); 
    border-left: 12px solid rgb(49, 15, 6);
    border-right: 12px solid rgb(49, 15, 6);
    padding: 10px;
}
footer td{
    font-size: 10px;
}
.img5{
    height: 40px;
    color: rgb(233, 181, 117);
    
}

body td, p {
    font-size: 25px;
}
td{
    padding: 10px;
}
